@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'HussarPrint';
    src: url('./assets/fonts/HussarPrintA.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Mont';
    font-weight: 400;
    src: url('/fonts/Mont-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Mont';
    font-weight: 700;
    src: url('/fonts/Mont-Bold.ttf') format('truetype');
  }
  